.rbc-btn-group {
    font-size: 12px;
}

.rbc-toolbar-label {
    padding: 10px 0px !important;
}

.rbc-calendar{
    overflow-x: auto
}

.rbc-month-row {
    height: auto;
}

.rbc-event {
    background-color: #1455fe;
}

.rbc-event:hover {
    background-color: #0034ba;
    transition-duration: 500ms;
}

.rbc-event-content{
    white-space: wrap !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
    overflow: hidden !important;
    
}

@media (max-width: 480px) {
    .rbc-month-view {
        width: 600px;
        overflow-x: auto;
        display: block;
    } 

}